.main .grid
{
    height: auto;
}

.main .grid .currencySearch
{
    display: flex;
    border-radius: 2px;
    width: 100%;
    border: solid 4px;
    margin-bottom: 32px;
}

.main .grid .currencySearch .currencySubmit
{
    height: 50px;
    width: 50px;
    background: url(../images/search-icon.svg) no-repeat 15px 15px;
    border-radius: 12px;
    cursor: pointer;
    padding-right: 10px;
}

.main .grid .currencySearch .currencyText
{
    height: 50px;
    width: 100%;
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}


.main .grid .allCurencies
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main .grid .allCurencies .caseCurrency
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0ba40;
    width: 80px;
    height: 80px;
    margin: 8px;
    font-size: 24px;
    border-radius: 2px;
    transition: background 0.5s cubic-bezier(0.11, 0.7, 0, 1), color 0.5s cubic-bezier(0.11, 0.7, 0, 1);
    cursor: pointer;
}

.main .grid .allCurencies .caseCurrency:hover
{
    background-color: #357af3;
    color: #ffffff;
}

.content .grid
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.content .grid .card
{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: auto;
}

.content .grid .card .cardFront
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: auto;
    position: absolute;
    background-color: #fbf8f3;
    z-index: 1;
    border: solid 4px #000000;
    padding: 40px;
}

.content .grid .card .cardFront .title
{
    display: flex;
    flex-direction: column;
}

.content .grid .card .cardFront .title .currencyName
{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 8px;
}

.content .grid .card .cardFront .title .currencyCode
{
    font-size: 24px;
}

.content .grid .card .cardFront .countries
{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.content .grid .card .cardFront .countries h2
{
    margin-top: 32px;
    margin-bottom: 16px;
    font-weight: 600;
}

.content .grid .card .cardFront .countries .allCountries
{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-bottom: 32px;
}

.content .grid .card .cardFront .countries .allCountries .country
{
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.content .grid .card .cardFront .countries .allCountries h3
{
    margin-right: 8px;
}

.content .grid .card .cardBack
{
    width: 97%;
    height: 97%;
    background-color: #eee8d8;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.map
{
    height: 300px;
    /* width: 100%; */
    /* display: flex; */
    width: 100%;
    /* align-items: center; */
    /* justify-content: space-between; */
    /* font-size: 20px; */
    /* height: 100%; */
    border: solid 4px #000000;
}