body
{
    font-family: 'Poppins', sans-serif;
}

.main
{
    background-color: #ede7d7;
    position: absolute;
    height: 100vh;
    width: 50%;
    top: 0px;
    left: 0px;
}

.main .grid
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    height: 100%;
}

.main .grid .navigation
{
    display: flex;
    font-weight: bold;
    color: #000000;
    font-size: 24px;
    justify-content: space-between;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 32px;
}

.main .grid .navigation a
{
    text-decoration: none;
    position: relative;
    z-index: 1;
    padding: 12px;
    transition: color 0.5s cubic-bezier(0.11, 0.7, 0, 1);
    overflow: hidden;
}

.main .grid .navigation a:hover
{
    color: #ffffff;
}

.main .grid .navigation a:after
{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    background-color: #357af3;
    transform: translate3d(-101%,0,0);
    z-index: -1;
    transition: transform 0.5s cubic-bezier(0.11, 0.7, 0, 1);
}

.main .grid .navigation a:hover:after
{
    transform: translate3d(0,0,0);
}

.main .grid .navigation .buttonActive
{
    background-color: #357af3;
    color: #ffffff;
}

@keyframes text-translate
{
    0%   { transform: translateX(100%); }
    100% { transform: translateX(-150%); }
}

.main .grid .description
{
    margin-bottom: 32px;
    overflow: hidden;
}

.main .grid .description span
{
    display: block;
    font-size: 150px;
    text-transform: uppercase;
    animation-name: text-translate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.main .grid .illustration
{
    overflow: hidden;
}

.content
{
    background-color: #000000;
    position: absolute;
    height: 100vh;
    width: 50%;
    top: 0px;
    right: 0px;
    background-size: 80px 80px;
    background-image:
        linear-gradient(to right, rgb(237 231 215 / 50%) 1px, transparent 1px), 
        linear-gradient(to bottom, rgb(237 231 215 / 50%) 1px, transparent 1px);
}

.content .grid
{
    padding: 40px;
    height: 100%;
}

.content .grid form
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.content .grid form .card
{
    width: 100%;
    height: 25%;
    position: relative;
}

.content .grid form .card .cardFront
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 98%;
    height: 95%;
    position: absolute;
    background-color: #fbf8f3;
    z-index: 1;
    border: solid 4px #000000;
    padding: 20px;
}

.content .grid form .card .cardFront > div
{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    height: 100%;
}

.content .grid form .cardBottom .cardFront .result
{
    font-size: 24px;
    justify-content: center;
}

.content .grid form .cardBottom .cardFront .errors
{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    color: #ff5630;
}

.content .grid form .cardBottom .cardFront .errors > h2
{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}


.content .grid form .card .cardFront h2 span
{
    text-transform: uppercase;
    font-weight: bold;
}

.content .grid form .card .cardFront input
{
    background-color: #000000;
    color: #ffffff;
    padding: 8px;
    width: 100px;
    height: 50px;
}

.content .grid form .card .cardBack
{
    width: 97%;
    height: 94%;
    background-color: #eee8d8;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

@keyframes buttonConvert-rotation
{
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.content .grid form .buttonConvert
{
    animation-name: buttonConvert-rotation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.content .grid form .buttonConvert input
{
    background-image: url(../images/button.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 150px;
    height: 150px;
    cursor: pointer;
}